*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

.vs/

.vscode/

.idea/

project.lock.json
project.fragment.lock.json
artifacts/

*.jfm
*.pfx
*.snk

.DS_Store

[Ll]ogs/
*.log

secrets/
*.env

*.nupkg
*.nuget.props
*.nuget.targets

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.DotSettings.user

appsettings.Development.json